@page
@model MyVault.Pages.Admin.IndexModel

<div class="container border m-0 p-0">
    <form method="Post">
        <div class="row">
            <div class="col-6">
                <h3 class="text-info text-center">Users List</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Create New User</a>
            </div>
        </div>

        <div class="col-12 border p-3 mt-3">
            @if (Model.UsersListVM.VaultUser.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="@Model.UsersListVM.VaultUser.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.UsersListVM.VaultUser.FirstOrDefault().PhoneNumber"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.UsersListVM.VaultUser.FirstOrDefault().Email"></label>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.UsersListVM.VaultUser)
                    {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td></td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wanna delete?')">Delete</button>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                    </td>
                </tr>
                    }
                    <tr>
                        <td colspan="5" class="text-right">
                            <div page-model="@Model.UsersListVM.PagingInfo" asp-action="Index" page-class="btn border" page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group">

                            </div>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <p>No User Found</p>
            }
        </div>
    </form>
</div>
